.calendar_header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.calendar_plan {
    margin: 0px 0 40px;
}

.cl_plan {
    width: 100%;
    height: 110px;
    background-image: linear-gradient(-222deg, #044e25, #10b759);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
    padding: 30px;
    color: #fff;
}

.cl_title {}

.cl_copy {
    font-size: 20px;
    margin: 3px 0px;
    display: inline-block;
}

.cl_add {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 0 0 65px;
    color: #c2c2c2;
    padding: 10px 14px;
}

.calendar_events {
    color: $light_grey;
}

.ce_title {
    font-size: 14px;
}

.event_item {
    margin: 18px 0;
    padding: 5px;
    cursor: pointer;
}

.event_item :hover {
    background-image: linear-gradient(-222deg, #107c4a, #206b39);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.ei_Dot {
    background-color: rgb(0, 0, 0);
}

.ei_Copy,
.ei_Title {
    color: rgb(17, 17, 17);
}

.ei_Dot,
.ei_Title {
    display: inline-block;
}

.ei_Dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $light_grey;
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
    background-color: #FF8494;
}

.ei_Title {
    margin-left: 10px;
    color: #363b41;
}

.ei_Copy {
    font-size: 12px;
    margin-left: 27px;
}

.dark {
    background-image: linear-gradient(-222deg, #646464, #454545);
    color: rgb(8, 8, 8);
    .header_title,
    .ei_Title,
    .ce_title {
        color: #fff;
    }
}